.card_prod {
    padding-top: 48px;
    padding-bottom: 72px;
    background: #fff;
    @media all and (max-width: 1023px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    &__in {
        @media all and (max-width: 1023px) {
            background: #f2f4f7;
            padding-top: 15px;
            padding-bottom: 16px;
        }
    }
    &__back {
        display: inline-block;
        position: relative;
        margin-bottom: 49px;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #475467;
        text-decoration: none;
        padding-left: 28px;
        @media all and (max-width: 1023px) {
            padding-left: 28px;
            font-size: 14px;
            margin-bottom: 15px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            margin-top: -10px;
            height: 20px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8333 10.0001H4.16663M4.16663 10.0001L9.99996 15.8334M4.16663 10.0001L9.99996 4.16675' stroke='%23475467' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 20px;
                height: 20px;
                margin-top: -10px;
            }
        }
        &:hover {
            color: #1570ef;
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8333 10.0001H4.16663M4.16663 10.0001L9.99996 15.8334M4.16663 10.0001L9.99996 4.16675' stroke='%231570ef' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% / 100% no-repeat;
            }
        }
    }
    &__prod {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__l-side {
        border: 1px solid #d0d5dd;
        border-radius: 15px;
        width: 383px;
        flex: 0 0 383px;
        margin-right: 32px;
        padding: 45px 32px;
        @media all and (max-width: 1023px) {
            margin-bottom: 14px;
            width: 100%;
            flex: none;
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            margin-right: 0;
            padding: 24px 13px;
            border: 1px solid #eaecf0;
            border-radius: 12px;
            background: #fff;
        }
    }
    &__txt-info {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #1570ef;
        position: relative;
        padding-right: 20px;
        display: inline-block;
        margin-bottom: 12px;
        width: max-content;
        &:before {
            content: '';
            right: 0;
            top: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            margin-top: -10px;
            background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%231570EF' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% / 100% no-repeat;
        }
    }
    &__flag {
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        border-radius: 6px;
        padding: 2px 8px;
        background: #84caff;
        right: 17px;
        top: -14px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 16px;
        line-height: 112%;
        letter-spacing: -0.02em;
        color: #344054;
        @media all and (max-width: 1023px) {
            margin-bottom: 0px;
            font-size: 14px;
            color: #667085;
            order: 3;
        }
        span {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: inline-block;
            &:not(:last-child) {
                border-right: 1px solid #344054;
                @media all and (max-width: 1023px) {
                    border-color: #667085;
                }
            }
            @media all and (max-width: 1023px) {
                padding: 0 10px;
            }
        }
    }
    &__img {
        max-width: 253px;
        width: 100%;
        font-size: 0;
        margin-bottom: 74px;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 1023px) {
            max-width: 146px;
            margin-bottom: 20px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #344054;
        @media all and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    &__r-side {
        width: 100%;
    }
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 127%;
        color: #000;
        margin-bottom: 20px;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding-bottom: 0px;
            margin-bottom: 12px;
            line-height: 175%;
            text-align: center;
        }
        span {
            color: #98a2b3;
            position: relative;
            display: inline-block;
            padding-left: 8px;
            margin-left: 8px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background: #98a2b3;
                @media all and (max-width: 1023px) {
                    display: none;
                }
            }
            @media all and (max-width: 1023px) {
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
    &__txt {
        margin-bottom: 39px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column-reverse;
        }
        &--l-side {
            border-radius: 15px;
            padding: 20px;
            padding-top: 17px;
            width: 292px;
            flex: 0 0 292px;
            margin-right: 16px;
            background: #f2f4f7;
            @media all and (max-width: 1023px) {
                border: 1px solid #d0d5dd;
                border-radius: 12px;
                padding: 16px;
                background: transparent;
                margin-top: 16px;
                flex: none;
                width: 100%;
            }
        }
        &--title {
            padding-bottom: 10px;
            border-bottom: 1px solid #d0d5dd;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #101828;
            @media all and (max-width: 1023px) {
                font-size: 16px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        &--list {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                &:not(:last-child) {
                    margin-bottom: 12px;
                    @media all and (max-width: 1023px) {
                        margin-bottom: 10px;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: #1d2939;
                padding: 10px;
                border: 1px solid #d0d5dd;
                border-radius: 80px;
                @media all and (max-width: 1023px) {
                    border-radius: 80px;
                    font-size: 14px;
                    padding: 10px;
                }
                span {
                    margin-right: 5px;
                    display: inline-block;
                    @media all and (max-width: 1023px) {
                        margin-right: 5px;
                    }
                }
            }
        }
        &--r-side {
            width: 100%;
            border-radius: 15px;
            padding: 20px;
            padding-top: 17px;
            background: #f2f4f7;
            @media all and (max-width: 1023px) {
                border: 1px solid #eaecf0;
                border-radius: 12px;
                padding: 16px;
                background: #fff;
            }
        }
        &--top {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #d0d5dd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #101828;
            @media all and (max-width: 1023px) {
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 12px;
                margin-bottom: 16px;
                span {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d0d5dd;
        margin-bottom: 12px;
        padding-bottom: 20px;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            padding-bottom: 0px;
            margin-bottom: 0px;
            border: 0;
        }
        &--l-side {
            width: 50%;
            padding-right: 9px;
            border-right: 1px solid #d0d5dd;
            span {
                margin-bottom: 26px;
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #101828;
                @media all and (max-width: 1023px) {
                    font-size: 14px;
                    margin-bottom: 8px;
                }
            }
            @media all and (max-width: 1023px) {
                width: 100%;
                padding-right: 0;
                border: 0;
            }
        }
        &--r-side {
            padding-left: 9px;
            width: 50%;
            span {
                margin-bottom: 26px;
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #101828;
                @media all and (max-width: 1023px) {
                    font-size: 14px;
                    margin-bottom: 8px;
                }
            }
            @media all and (max-width: 1023px) {
                width: 100%;
                padding-left: 0;
            }
        }
        &--blocks {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            width: 100%;
            @media all and (max-width: 1023px) {
                gap: 6px;
                padding: 10px;
                border-radius: 10px;
                background: #eff8ff;
                margin-bottom: 16px;
            }
        }
        &--week {
            width: calc(50% - 6px);
            border: 1px solid #eaecf0;
            border-radius: 12px;
            text-align: center;
            padding: 8px;
            background: #fff;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            line-height: normal;
            color: #101828;
            &.isActive {
                background: #eff8ff;
                border: 2px solid #1570ef;
            }
            @media all and (max-width: 1023px) {
                width: calc(50% - 6px);
                font-size: 16px;
                padding: 8px;
            }
        }
        &--block {
            width: calc(33.3% - 6px);
            border: 1px solid #eaecf0;
            border-radius: 12px;
            text-align: center;
            padding: 8px;
            background: #fff;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            line-height: 150%;
            color: #101828;
            @media all and (max-width: 1023px) {
                width: calc(33.3% - 6px);
                padding: 8px;
                font-size: 16px;
            }
            &.isActive {
                background: #eff8ff;
                border: 2px solid #1570ef;
            }
        }
    }
    &__quality {
        padding-bottom: 10px;
        margin-bottom: 12px;
        border-bottom: 1px solid #d0d5dd;
        @media all and (max-width: 1023px) {
            margin-bottom: 17px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }
        &--l-side {
            @media all and (max-width: 1023px) {
                flex: 0 0 150px;
                margin-right: 16px;
            }
        }
        span {
            margin-bottom: 26px;
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #101828;
            @media all and (max-width: 1023px) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
        &--l-side {
            margin-right: 12px;
            border: 1px solid #d0d5dd;
            border-radius: 12px;
            padding: 18px;
            width: 262px;
            flex: 0 0 262px;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: #101828;
            @media all and (max-width: 1023px) {
                width: calc(100% - 150px - 16px);
                flex: none;
                font-size: 14px;
                font-weight: 500;
                border: 0;
                padding: 18px;
                margin-right: 0;
                background: #f2f4f7;
                padding: 8px 16px;
            }
            span {
                font-weight: 600;
                font-size: 26px;
                line-height: 100%;
                color: #1570ef;
                @media all and (max-width: 1023px) {
                    font-size: 24px;
                    display: block;
                    line-height: 133%;
                    margin-top: 4px;
                    margin-bottom: 0;
                }
            }
        }
        &--btn {
            width: 100%;
            box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
            background: #ff731e;
            border: 1px solid #ff731e;
            border-radius: 8px;
            padding: 20px 28px;
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            text-decoration: none;
            color: #fff;
            text-align: center;
            @media all and (max-width: 1023px) {
                font-size: 16px;
                padding: 11px 28px;
            }
            &:hover {
                background: #fff;
                color: #ff731e;
            }
        }
    }
}