<div class="card_prod">
    <div class="card_prod__in container">
        <a href="/" class="card_prod__back">Back</a>
        <div class="card_prod__prod">
            <div class="card_prod__l-side">
                <div class="card_prod__flag" v-if="sizes.window <= 1023">36 months </div>
                <div class="card_prod__title" v-if="sizes.window <= 1023">Rent ASIC Order: <span>S19K Pro 115TH</span>
                </div>
                <div class="card_prod__top">
                    <span>115 Th/s </span>
                    <span>3000 mWt</span>
                </div>
                <div class="card_prod__img">
                    <img src="./img/prod_img.png" alt="">
                </div>
                <div class="card_prod__text" v-if="sizes.window >= 1023">Text, text of hash power from mining devices (ASICs) without the need to purchase and install them. You will just pay service fees and receive payouts in BTC to your ECOS account. From mining devices</div>
            </div>
            <div class="card_prod__r-side">
                <div class="card_prod__title" v-if="sizes.window >= 1023">Rent ASIC Order:
                    S19K Pro 115TH<span> Duration: 36 months</span>
                </div>
                <div class="card_prod__txt" v-if="sizes.window >= 1023">Text, text. Mining is renting of hash power from mining devices (ASICs) without the need to purchase and install them. You will just pay service fees and receive payouts in BTC to your ECOS account. From mining devices (ASICs) without the need to purchase and install them. You will just pay service fees and receive payouts</div>
                <div class="card_prod__info">
                    <div class="card_prod__info--l-side">
                        <div class="card_prod__info--title">Rentail Details:</div>
                        <ul class="card_prod__info--list">
                            <li><span>Hosting Fee/Month:</span> $225</li>
                            <li><span>Rent/Day:</span> $2.73</li>
                            <li><span>Price 1TH/Day:</span> $0.024</li>
                            <li><span>Static Mining Output:</span> $13 635*</li>
                            <li><span>Static Output Ratio:</span> 454.49%</li>
                            <li><span>Breakeven days:</span> 242</li>
                        </ul>
                    </div>
                    <div class="card_prod__info--r-side">
                        <div class="card_prod__info--top">
                            Rental Price per 1 ASIC: <span>$3 000</span>
                        </div>
                        <div class="card_prod__items">
                            <div class="card_prod__items--l-side">
                                <span>Duration:</span>
                                <div class="card_prod__items--blocks">
                                    <div class="card_prod__items--block">12</div>
                                    <div class="card_prod__items--block">24</div>
                                    <div class="card_prod__items--block isActive">36</div>
                                </div>
                            </div>
                            <div class="card_prod__items--r-side">
                                <span>Hosting Fee Payment:</span>
                                <div class="card_prod__items--blocks">
                                    <div class="card_prod__items--week isActive">Monthly</div>
                                    <div class="card_prod__items--week">Daily</div>
                                </div>
                            </div>
                        </div>
                        <div class="card_prod__quality">
                            <div class="card_prod__quality--l-side">
                                <span>Quantity:</span>
                            </div>
                            <div class="card_prod__price--l-side" v-if="sizes.window <= 1023">
                                Total Price: <span>$ 6 000</span>
                            </div>
                        </div>
                        <div class="card_prod__price">
                            <div class="card_prod__price--l-side" v-if="sizes.window >= 1023">
                                Total Price: <span>$ 6 000</span>
                            </div>
                            <a href="#" class="card_prod__price--btn">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>