.main_table {
    padding-top: 72px;
    padding-bottom: 72px;
    background: #f2f4f7;
    overflow: hidden;
    @media all and (max-width: 1023px) {
        padding-top: 24px;
        padding-bottom: 24px;
        background: #fff;
    }
    &__title {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 30px;
        line-height: 127%;
        color: #000;
        @media all and (max-width: 1023px) {
            padding-bottom: 12px;
            font-size: 20px;
            text-align: center;
            line-height: 120%;
        }
    }
    &__mob {
        &--top {
            display: flex;
            justify-content: space-between;
            border: 1px solid #000;
            border-radius: 8px;
            margin-bottom: 16px;
        }
        &--title {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: #000;
            padding: 12px;
            width: 100%;
            &:first-child {
                border-right: 1px solid #000;
            }
        }
        &--block {
            padding: 8px 13px;
            border: 1px solid #eaecf0;
            border-radius: 8px;
            margin-bottom: 6px;
        }
        &--tit {
            margin-bottom: 6px;
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #000;
            text-align: center;
        }
        &--blocks {
            display: flex;  
        }
        &--item {
            width: 100%;
            background: #f9fafb;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 200%;
            text-align: center;
            color: #475467;
        }
        &--prc {
            font-weight: 700;
            color: #1570ef;
        }
        &--prc1 {
            font-weight: 700;
        }
    }
    &__scroll {
        overflow: hidden;
    }
    &__table {
        background: #fff;
        border-radius: 12px;
        padding: 40px 68px;
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            padding: 20px;
            overflow: auto;
        }
        &--side {
            flex: 0 0 273px;
            @media all and (max-width: 1023px) {
                flex: 0 0 273px;
            }
            .main_table__table--txt {
                text-align: left;
                padding-left: 35px;
                position: relative;
                @media all and (max-width: 1023px) {
                    padding-left: 35px;
                }
                &:not(:last-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 1000%;
                        bottom: 0px;
                        background: #d0d5dd;
                        height: 1px;
                        @media all and (max-width: 1023px) {
                            width: 1030px;
                        }
                    }
                }
            }
            .main_table__table--tit {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 1000%;
                    bottom: 0px;
                    background: #d0d5dd;
                    height: 1px;
                    @media all and (max-width: 1023px) {
                        width: 1030px;
                    }
                }
            }
        }
        &--tit { 
            min-height: 98px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 190%;
            letter-spacing: -0.02em;
            text-align: center;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 53px;
            @media all and (max-width: 1023px) {
                min-height: 90px;
                font-size: 20px;
            }
        }
        &--height {
            min-height: 89px;
            @media all and (max-width: 1023px) {
                min-height: 90px;
            }
        }
        &--sale {
            margin-right: auto;
            outline: 2px solid #1570ef;
            background: none;
            margin-right: 0;
            position: relative;
            .main_table__table--tit {
                border-bottom: 1px solid #d0d5dd;
            }
            .main_table__table--txt:not(:last-child) {
                border-bottom: 1px solid #d0d5dd;
            }
        }
        &--txt {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            line-height: 337%;
            letter-spacing: -0.02em;
            color: #101828;
            height: 53px;
            @media all and (max-width: 1023px) {
                font-size: 16px;
            }
        }
        &--block {
            width: 294px;
            border-radius: 12px;
            background: #f2f4f7;
            margin-right: 34px;
            @media all and (max-width: 1023px) {
                width: 294px;
                flex: 0 0 294px;
                margin-right: 34px;
            }
            .main_table__table--txt {
                font-weight: 500;
                font-size: 16px;
                line-height: 337%;
                letter-spacing: -0.02em;
                text-align: center;
                color: #101828;
                @media all and (max-width: 1023px) {
                    font-size: 16px;
                }
                span {
                    color: #1570ef;
                    font-weight: 700;
                }
            }
        }
        &--letter {
            line-height: 125% !important;
            padding-top: 10px;
            padding-bottom: 10px;
            height: 89px;
            @media all and (max-width: 1023px) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}