.main_pref {
    padding-top: 40px;
    padding-bottom: 44px;
    background: #f2f4f7;
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__in {
        display: flex;
        flex-wrap: wrap;
    }
    &__block {
        width: 20%;
        padding-bottom: 26px;
        padding-top: 20px;
        @media all and (max-width: 1023px) {
            width: 50%;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media all and (max-width: 640px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        &:not(:nth-child(5n+1)) {
            padding-left: 25px;
            @media all and (max-width: 1023px) {
                padding-left: 20px;
            }
            @media all and (max-width: 640px) {
                padding-left: 0;
            }
        }
        &:not(:nth-child(5n+5)) {
            border-right: 1px solid #d0d5dd;
            padding-right: 25px;
            @media all and (max-width: 1023px) {
                padding-right: 20px;
                border: 0;
            }
            @media all and (max-width: 640px) {
                padding-right: 0;
            }
        }
        &:nth-child(2n+1) {
            @media all and (max-width: 1023px) {
                border-right: 1px solid #d0d5dd;
            }
            @media all and (max-width: 640px) {
                border: 0;
            }
        }
    }
    &__icon {
        margin-left: auto;
        margin-right: auto;
        font-size: 0;
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
        @media all and (max-width: 1023px) {
            margin-bottom: 15px;
            width: 48px;
            height: 48px;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        color: #1d2939;
        @media all and (max-width: 1023px) {
            font-size: 16px;
        }
    }
}